
@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" media="all" />
</head>
<body class="container-fluid text-center">
    <header class="row my-5">
        <h1 class="col-12">Bienvenido/a</h1>
    </header>
    <main class="row">
        <p class="col-12">Si ves esto, la API está funcionando :)</p>
    </main>
</body>
</html>